* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; margin: 0; }
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px green; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px green; 
}
.box { display: flex; flex-flow:column; height: 100% }
.box .row{ flex: 0 1 30px; }
.box .row.header { flex: 0 1 auto; }
.box .row.content { flex: 1 1 auto; display: flex; }
.box .row.content .left { flex: 1 1 auto; }
.box .row.content .right { flex: 0 0 150px; }
.box .row.footer { flex: 0 1 40px; }
#log {
	background-color: black;
	/* border-bottom: 5px lightgrey groove; */
	flex: 0 250px;
	padding-left: 10px;
	font-weight: 900;
	color: green;
	list-style-type: none;
	overflow: auto;
	display: none;
	word-break: break-all;
}
#log li {	display: flex; }
#log .type {	flex: 0 150px; }
#logbutton { flex: 0 10px; background: linear-gradient(black, lightgrey); }
#sidepane { display: flex; flex-direction: column; }
#users { flex: 1 auto; word-break: break-all; }
#rooms { flex: 0 1 200px; background-color: lightgrey; border-top: 1px black solid; }
#sidepane { border-left: 2px grey solid; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
/* #chatbox { display: flex; flex-flow: row wrap; } */
/* #messages { flex: 1 100%; } */
/* #input { flex: 1 100%; } */
#messages { list-style-type: none; margin: 0; padding: 0; padding-bottom: 42px; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#messages li.warn { font-style : italic; color: crimson; font-weight:700; }
#messages li.notification { font-style : italic; font-weight:700; }
#messages li.info			{ color: blue; font-weight:700; }
#messages li.emote			{ font-style: italic; }
#users ul { list-style-type: none; }
#users li { padding: 5px 10px; }
#users li:nth-child(odd) { background: #eee; }
#users .header { border-bottom:1px black dotted; text-align: center; padding: 5px; font-weight: 700; background-color: darkorange; }